python-dotenv
langchain
langchain_community
langchain_experimental
langchain_core
google-generativeai
google-ai-generativelanguage
langchain-google-genai
langchain[docarray]
docarray
faiss-cpu
sentence-transformers
googletrans
langchain_huggingface
pypdf
django
django-rest_framework
django-cors-headers
dill
